@tailwind base;
@tailwind components;
@tailwind utilities;


  :root {
    --delay-time: .2s;
  }
  
  @keyframes drop {
    0% {
      transform: translateY(-200px) scaleY(0.9);
      opacity: 0;
    }
    75% {
      transform: translateY(-5px) scaleY(0.975); 
      opacity: 1;
    }
    100% {
      transform: translateY(0px) scaleY(1);
      opacity: 1;
    }
  }
  .drop {
    animation: drop 0.5s linear forwards var(--delay-time);
  }
  

  .name-tag {
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    color: black;
    font-size: 10px;
    font-weight: bold;
    padding: 4px 6px;
    position: relative;
  }
  
  .name-tag::before, .name-tag::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
  }
  
  .name-tag::before {
    border-top: 11px solid black; 
  }
  
  .name-tag::after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid white;
    /* margin-top: 2px;  */
  }
  

  .dot {
    position: absolute;
    width: 7px;  
    height: 7px; 
    background-color: black; 
    border-radius: 50%; 
    cursor: pointer; 
    transform: translate(-50%, -50%);
  }
  

#legend::-webkit-scrollbar {
  width: 4px; 
  /* height: 4px;  */
}

#legend::-webkit-scrollbar-thumb {
  background-color: #E5E3DF; 
  border-radius: 10px; 
}

#legend::-webkit-scrollbar-track {
  border-radius: 10px; 
}

#legend {
  scrollbar-color: black white;
  scrollbar-width: thin; 
}
#legend:hover {
  scrollbar-color: black #ededed; 
}

.ship-icon {
  width: 50px;
}

.torra-icon {
  height: 120px;
}