@tailwind base;
@tailwind components;
@tailwind utilities;


  :root {
    --delay-time: .2s;
  }
  
  @keyframes drop {
    0% {
      transform: translateY(-200px) scaleY(0.9);
      opacity: 0;
    }
    75% {
      transform: translateY(-5px) scaleY(0.975); 
      opacity: 1;
    }
    100% {
      transform: translateY(0px) scaleY(1);
      opacity: 1;
    }
  }
  .drop {
    animation: drop 0.5s linear forwards var(--delay-time);
  }
  

  .name-tag {
    background-color: #4285F4;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 10px;
    padding: 8px 12px;
    position: relative;
  }
  
  .name-tag::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #4285F4;
  }

  .dot {
    position: absolute;
    width: 7px;  
    height: 7px; 
    background-color: black; 
    border-radius: 50%; 
    cursor: pointer; 
    transform: translate(-50%, -50%);
  }
  

#legend::-webkit-scrollbar {
  width: 4px; 
  height: 4px; 
}

#legend::-webkit-scrollbar-thumb {
  background-color: black; 
  border-radius: 10px; 
 
}

#legend::-webkit-scrollbar-track {
  border-radius: 10px; 
}

#legend {
  scrollbar-color: black #8AC0FF; 
  scrollbar-width: thin; 
}

